name: test-pr1

on:
  workflow_dispatch:
  pull_request:
    branches:
      - test
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  build:
    name: "${{ matrix.os }} • ${{ matrix.compiler }} • ${{ matrix.build_type }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [gcc, clang]
        build_type: [Release, Debug]
        exclude:
          - os: macos-latest
            compiler: gcc
    steps:
      - uses: actions/checkout@v4
      - run: echo "Triggered by ${{ github.event_name }} on base ${{ github.base_ref }}"
